<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
    <iframe src="http://www.cloudping.info" width="80%" height="1000px"></iframe>
  <div class="container">
  </div>
</div>
</body>
</html>
